body {
    font-size: 14px;
    color: navy;
    font-family: arial, helvetica, serif;
}
h1 {
    color: #ffc;
    background-color: #009;
    font-weight: lighter;
    font-style: italic;
    text-transform: capitalize;
    font-size: 4em;
}
ol {
    text-decoration: underline;
}

h2 {
    text-decoration: overline;
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border color: red;
}

h3 {
    text-decoration: line-through;
}

a {
    text-decoration: none
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

p {
    letter-spacing: 0.5em;
    word-spacing: 2em;
    line-height: 1.5;
    text-align: center;
}
